#interface .interface_header .i-name{
    color: #444a53;
    padding: 0px 0px 0 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
}
.interface_header{
    background-color: #fff;
    margin: 100px 30px 30px 30px;
    padding: 20px;
    border-radius: 5px;
}
#addproduct_form{
    padding: 30px 15px;
    display: none;
}
#addproduct_form .form_group{
    width: 100%;
    margin-bottom: 20px;
}
#addproduct_form .form_group label{
    display: block;
    margin-bottom: 5px;
}
#addproduct_form .form_group input,
#addproduct_form .form_group select,
#addproduct_form .form_group textarea{
    display: block;
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    font-size: 1rem;
}

#addproduct_form .submit{
    display: block;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: #554cd1;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 35px;
    width: 100%;
    z-index: 500;
}

.exist_alert{
    color: crimson;
    font-style: italic;
    font-size: 13px;
}

.operate_td{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.productTableboard{
    padding: 15px;
}
.dataTables_wrapper .dataTables_length select {
    margin-bottom: 10px;
}
#productTable tbody tr td button{
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 3px 5px;
    cursor: pointer;
    font-weight: 400; 
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}
.status_active{
    background-color: #00c292;
}
.status_deactive{
    background-color: #fb9678;
}
.operate_td button:nth-child(2){
    background-color: #7B74EC;
}
.operate_td button:nth-child(3){
    background-color: #FF0000;
}
.edite_prdct{
    background-color: #7B74EC;
}
.delete_prdct{
    background-color: #FF0000;
}

.board img{
    border-radius: 0px;
    width: 60px;
    height: 60px;
}


@media (max-width:477px) {
    .interface_header{
        margin: 100px 15px 30px 15px;
    }
}