#interface .interface_header .i-name{
    color: #444a53;
    padding: 0px 0px 0 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
}
.interface_header{
    background-color: #fff;
    margin: 100px 30px 30px 30px;
    padding: 20px;
    border-radius: 5px;
}

#addsub_ctegories_form{
    padding: 30px 15px;
    display: none;
}
#addsub_ctegories_form label{
    display: block;
    margin-bottom: 10px;
}
#addsub_ctegories_form input,
#addsub_ctegories_form select{
    display: block;
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
#addsub_ctegories_form select{
    margin-bottom: 30px;
}
#addsub_ctegories_form .submit{
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: #554cd1;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
    display: block;
    width: 100%;
}

.exist_alert{
    color: crimson;
    font-style: italic;
    font-size: 13px;
}

.operate_td{
    display: flex;
    justify-content: flex-end;
}
.operate_td button{
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 400; 
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}
.status_active{
    background-color: #00c292;
}
.status_deactive{
    background-color: #fb9678;
}
.operate_td button:nth-child(2){
    background-color: #7B74EC;
}
.operate_td button:nth-child(3){
    background-color: #FF0000;
}


@media (max-width:477px) {
    .interface_header{
        margin: 100px 15px 30px 15px;
    }
}
